.bar.bar-footer.bar-positive.item-input-inset(ng-if='currentUser' ng-controller='ToolbarCtrl')
  label.item-input-wrapper
    input(type='text' placeholder='New Porro' ng-model='newThing.name' ng-enter='save()')

//- app.directive('ngEnter', function () {
//-     return function (scope, element, attrs) {
//-         element.bind("keydown keypress", function (event) {
//-             if(event.which === 13) {
//-                 scope.$apply(function (){
//-                     scope.$eval(attrs.ngEnter);
//-                 });
//-  
//-                 event.preventDefault();
//-             }
//-         });
//-     };
//- });
