.bar.bar-header.bar-positive.item-input-inset(ng-if='currentUser' ng-controller='ToolbarCtrl')
  label.item-input-wrapper
    input(type='text' placeholder='New Porro' ng-model='newThing.name' ng-enter='save()')
