body
  font-family: 'Cantarell', sans-serif;

ion-content
  background-color #f3F9f3

.things
  .button.button-assertive.button-clear
    top 50%
    margin-top -17px
  .item-avatar > img
    top 50%
    margin-top -25px
    left: 12px;
    max-width: 50px;
    max-height: 50px;

  .item
    margin-bottom: 10px
    background-color: #fefefe
    color: #123225
    border none
    box-shadow 0 0 3px #c7c9ca

  .item h2
    font-weight: 700

  .avatar-list img
    float: left
    cursor: pointer
    border-radius 50%
    margin: 5px
    height: 40px
    width: 40px
  .inactive
    opacity: .3
