ion-pane
  ion-content.padding.things
    //- Due to ion-content creating a child scope, we have to use $parent to
    //- access our own scope. This only applies for variables inside an
    //- ion-content directive. Outside ion-content you can call 'things' directly
    .list(ng-if='currentUser')
      .item.item-button-right.item-avatar(ng-repeat='thing in $parent.doneThings')
        img(ng-src="{{$parent.pictureFromId(thing.createdBy)}}")
        h2 {{ thing.name }}
        p {{ thing.createdAt.toLocaleString() }}
        p
          span.avatar-list(ng-repeat='user in $parent.users')
            img(
              ng-src="{{$parent.picture(user)}}"
              ng-class="{ inactive: thing.parties.indexOf(user._id) === -1 }" 
              ng-click='$parent.togglePerson(thing, user._id)'
            )
        button.button.button-assertive.button-clear(ng-click='$parent.showConfirmDelete(thing)')
          i.icon.ion-trash-a
